.scoreboard {
    padding: 2px;
}

.scoreboard_set {
    margin-top: 27px;
}

.input {
    width: 50px;
    margin: 5px;

}

.active {
    color: brown;
}

.error {
    width: 50px;
    margin: 5px;
    background-color: brown;
}

